
label {
  min-width: fit-content;
  align-self: center;
  justify-self: flex-start;
  font-weight: bold;
  margin: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.form-group {
  display: inline-flex;
}

input, textarea {

  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
}

input:focus, textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #FFCB2C;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}